<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Formulario de validação</title>
    <meta charset="utf-8">
    <!-- Bootstrap sempre antes-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>